@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #dba850;

  /* gold text color: #FFD700 */

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
}


/* Explosive Text */
/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #000000;
} */

.hover-container {
    display: inline-block;
    position: relative;
}

.explosive-text {
    font-size: 3rem;
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    position: relative;
    transition: transform 0.3s ease-out;
}

.explosive-text:hover {
    transform: scale(1.1);
}

.explosive-text:hover::before,
.explosive-text:hover::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: burst 0.8s ease-out forwards;
}

.explosive-text:hover::before {
    background: radial-gradient(circle, rgb(255, 191, 0), transparent);
    z-index: -1;
}

.explosive-text:hover::after {
    background: radial-gradient(circle, rgba(140, 0, 255, 0.6), transparent);
    z-index: -2;
}

@keyframes burst {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }
    70% {
        opacity: 0.8;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
    }
}







/* Typing Text */
.container-text{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* background-color: transparent; */
}

.container-text h1:nth-child(1) {
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  font-size: 20px;
  margin: 0 0 0 35%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 170px;
  animation: type 2s steps(12,end) forwards;
}

.container-text h1:nth-child(2) {
  opacity: 0;
  font-family: "Work Sans", sans-serif;
  margin: 0 auto auto auto;
  background: linear-gradient(to right, #f8b195, #f67280, #c06c84);
  font-weight: 800;
  font-size: 100px;  
  width: 430px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  animation: shring-animation 2s steps(12,end) 2s forwards, blink .5s step-end infinite alternate;
}

@keyframes shring-animation {
  0% {
    background-position: 0 0;
    opacity: 0;
    width: 0;
  }
  1% {
    background-position: 0 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  50% {
    background-position: 150px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
  100% {
    background-position: 400px 0;
    opacity: 1;
    border-right: 1px solid orange;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  1%, 99%{
    border-right: 1px solid orange;
  }
  100%{
    width: 170px;
    border-right: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Scroll effect */
* {box-sizing:border-box}
body, html {padding:0; margin:0} 
body {background:#000000; color:#fff}
.opaque {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3);
}
.lt-ie9 .opaque {display:none;}
.feature {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  box-shadow: none;
}

.content {
  position: relative;
  z-index: 20;
  min-height: 100vh;
  padding-top: 12rem;
  padding-bottom: 4rem;
}

@media only screen and (min-width:36.250em) {
  .content {width:60%; padding-top:35% }
}


/* Search Icon */
.line-md--search {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath stroke-dasharray='40' stroke-dashoffset='40' d='M10.76 13.24c-2.34 -2.34 -2.34 -6.14 0 -8.49c2.34 -2.34 6.14 -2.34 8.49 0c2.34 2.34 2.34 6.14 0 8.49c-2.34 2.34 -6.14 2.34 -8.49 0Z'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='1s' values='40;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='12' stroke-dashoffset='12' d='M10.5 13.5l-7.5 7.5'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='1s' dur='0.4s' values='12;0'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}


.search-container:focus-within .line-md--search {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath stroke-dasharray='40' stroke-dashoffset='40' d='M10.76 13.24c-2.34 -2.34 -2.34 -6.14 0 -8.49c2.34 -2.34 6.14 -2.34 8.49 0c2.34 2.34 2.34 6.14 0 8.49c-2.34 2.34 -6.14 2.34 -8.49 0Z'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='1s' values='40;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='12' stroke-dashoffset='12' d='M10.5 13.5l-7.5 7.5'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='1s' dur='0.4s' values='12;0'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
